@font-face {
   font-family: 'HelveticaNeuelight';
   src: url('../fonts/HelveticaNeue/HelveticaNeueLt.ttf');
}

@font-face {
   font-family: 'HelveticaNeueMedium';
   src: url('../fonts/HelveticaNeue/HelveticaNeueMedium.ttf');
}

@font-face {
   font-family: 'HelveticaNeueRegular';
   src: url('../fonts/HelveticaNeue/HelveticaNeue.ttf');
}

@font-face {
   font-family: 'HelveticaNeuebold';
   src: url('../fonts/HelveticaNeue/HelveticaNeueBd.ttf');
}

@font-face {
   font-family: 'GothamNarrow-Bold';
   src: url('../fonts/GothamNarrow-Bold.otf');
}