.email-us{
   padding-bottom: 50px;
   
   .container{
      @media(max-width: 991px) {
         padding: 0 !important;
      }
   }

   .section-wrapper{
      background: url(../images/contact-orm-bg.png) no-repeat left bottom/cover;
      
      @media(max-width: 991px) {
         padding-bottom: 405px;
         background: url(../images/bg-small.png) no-repeat left bottom/cover;
      }

      @media(max-width: 767px) {
         padding-bottom: 300px;
      }

      @media(max-width: 575px) {
         padding-bottom: 320px;
      }

      @media(max-width: 480px) {
         padding-bottom: 260px;
      }

      .section-header{
         h2{
            font-family: 'HelveticaNeuebold';
            font-size: 50px;
            color: #fff;

            @media(max-width: 767px) {
               font-size: 25px;
            }
         }
      }

      .section-content{
         .sb-head{   
            font-family: 'HelveticaNeueMedium';
            font-size: 25px;
            color: #fff;   
            
            @media(max-width: 991px) {
               font-size: 18px;
            }
         }

         form{
            label{
               font-family: Helvetica, sans-serif;
               color: #747474;
               font-size: 16px;
            }

            .form-floating{
               .form-control{
                  border-radius: 0;
               }
            }
         }
      }
   }
}